.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.recent-applications-card:hover .custom-scrollbar {
    scrollbar-color: #a0e4ce transparent;
}

.recent-applications-card:hover .custom-scrollbar::-webkit-scrollbar-track {
    background: #E5E7EB;
}

.recent-applications-card:hover .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5baf93;
    border-radius: 4px;
    border: 2px solid #E5E7EB;
}

.recent-applications-card:hover .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #059669;
}

.applications-container {
    padding-right: 8px;
}
